.form{
    display: grid;
    grid-template-columns: 50%50%;
    margin-right: 10px;
    border: left solid  purple 4px;
    padding-top: 50px;

}

.input{
     border-radius: 8px;
     width: 60%;
     padding: 12px 22px;

}
#button{
    background-color:purple;
    color: white;
    width: 100%;
    padding: 12px 22px;


}
#draw{
    width: 150%;
}
#container{
    border-left: solid purple 4px;
    padding-left: 100px;

}
#header{
    background-color: white;
    color: purple;
    
}
.names{
    display: inline-table; width:40%;
    
}
